body {
	background-color: #555826;
	
}
a{font-family: "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif;
  font-size: 50pt
  color: white;


}
p{
	font-family: "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 65pt;
    margin: auto;
    text-align: center;
    margin-top: calc(50vh - 70px);
}

.item:hover{
  color: #F15D27;

}

#wow{
  position: relative;
  animation: skewe 7s infinite ease	;
  margin-left: 100px;
  transform-origin: center;
  animation-direction: alternate;
z-index:555555 !important;
	opacity: 1;
}

#wow:hover{
  z-index:555555 !important;
  color: #F15D27;
}

@keyframes skewe {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) }
    25%      { -webkit-transform: rotateX(180deg);                            }
    50%      { -webkit-transform: rotateX(-180deg);            }
    75%      { -webkit-transform: rotateX(180deg)      }
    100%      { -webkit-transform: rotateX(-180deg) ;           }
  }

    /*---------AVID DIVA---------*/

#diva{
  color: white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 150px);
  margin: auto;
  animation-direction: alternate;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewee 7s infinite ease;
    z-index:555555 !important;

}

@keyframes skewee {
  from,to 
  	0%      { -webkit-transform: rotateY(0deg) ;           }
    25%      { -webkit-transform: rotateY(-180deg);                            }
    50%      { -webkit-transform: rotateY(180deg);            }
    75%      { -webkit-transform: rotateY(-180deg)      }
    100%      { -webkit-transform: rotateY(0deg) ;           }
  }



#diva:hover{
  color: #F15D27;
}

.whole2{
  opacity:0;
  transition:0.5s ease;
}

.whole_2{
  opacity:1;
  transition:0.5s ease;
}


    /*---------DIEFIED---------*/


#deified{
  color: white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 90px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewer 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;
z-index:555555 !important;
}
#deified:hover{
  color: #F15D27;
}


@keyframes skewer {
  from,to  { -webkit-transform: rotateX(90deg) rotateY(9deg) }
    25%      { -webkit-transform: rotateX(180deg)  rotateZ(45deg)                          }
    50%      { -webkit-transform: rotateY(-20deg) rotateX(90deg) rotateZ(45deg)          }
    75%      { -webkit-transform: rotateX(180deg) rotateZ(45deg)    }
    100%      { -webkit-transform:  rotateY(-20deg) rotateX(180deg) ;           }
  }



.whole3{
  opacity:0;
  transition:0.5s ease;
}

.whole_3{
  opacity:1;
  transition:0.5s ease;
}

    /*---------GO DOG---------*/


#dog{
  color: white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 90px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewet 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;
    z-index:555555 !important;

}

#dog:hover{

  color: #F15D27;
}

@keyframes skewet {
from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) }
    25%      { -webkit-transform: rotateX(180deg)  rotateZ(-45deg)                          }
    50%      { -webkit-transform: rotateY(-20deg) rotateX(90deg) rotateZ(-45deg)          }
    75%      { -webkit-transform: rotateX(180deg) rotateZ(-45deg)    }
    100%      { -webkit-transform: rotateX(180deg) rotateZ(60deg) ;           }
  }



.whole4{
  opacity:0;
  transition:0.5s ease;
}

.whole_4{
  opacity:1;
  transition:0.5s ease;
}


    /*---------EVIL OLIVE---------*/
#olive{
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 140px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewy 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

#olive:hover{
  z-index:555555 !important;
  color: #F15D27;
}


@keyframes skewy {
from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) }
    25%      { -webkit-transform: rotateX(190deg)  rotateZ(90deg)                          }
    50%      { -webkit-transform: rotateY(50deg) rotateX(90deg) rotateZ(90deg)          }
    75%      { -webkit-transform: rotateY(50deg)rotateX(190deg) rotateZ(90deg)    }
    100%      { -webkit-transform:rotateY(50deg) rotateX(90deg) rotateZ(90deg) ;           }
  }


.whole5{
  opacity:0;
  transition:0.5s ease;
}

.whole_5{
  opacity:1;
  transition:0.5s ease;
}


    /*---------UFO TOFU---------*/
#ufo{
  color: white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 150px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewu 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}
#ufo:hover{
  z-index:555555 !important;
  color: #F15D27;
}


@keyframes skewu {
  from,to  
    25%      { -webkit-transform: rotateY(-180deg);                          }
    50%      { -webkit-transform: rotateZ(160deg) rotateX(40deg);            }
    75%      { -webkit-transform: rotateY(-180deg)           }
    100%      { -webkit-transform: rotateY(-180deg) rotate(150deg);           }
  }



.whole6{
  opacity:0;
  transition:0.5s ease;
}

.whole_6{
  opacity:1;
  transition:0.5s ease;
}

/*---------EMILY'S SASSY LIME---------*/
#emily{
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 350px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewo 7s infinite;
  animation-direction: alternate; 
  animation-timing-function: ease;

}
#emily:hover{
  z-index:555555 !important;
  color: #F15D27;
}


@keyframes skewo {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg)}
    25%      { -webkit-transform: rotateY(-245deg) rotateX(180deg));                           }
    50%      { -webkit-transform: rotateY(245deg)             }
    75%      { -webkit-transform: rotateY(-245deg)rotateX(180deg) ;           }
    100%      { -webkit-transform: rotateY(180deg);           }
  }


.whole7{
  opacity:0;
  transition:0.5s ease;
}

.whole_7{
  opacity:1;
  transition:0.5s ease;
}


/*---------NO LEMONS, NO MELON---------*/
#lemons{
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 400px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewp 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

#lemons:hover{
  z-index:555555 !important;
  color: #F15D27;
}


@keyframes skewp {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg); }
    25%      { -webkit-transform: rotateY(-180deg )rotateZ(10deg); ;                           }
    50%      { -webkit-transform: rotateY(20deg) rotateZ(40deg);            }
    75%      { -webkit-transform: rotateY(-180deg) rotateZ(10deg);  );           }
    100%      { -webkit-transform: rotateX(-180deg)rotateZ(-40deg);  ;           }
  }


.whole8{
  opacity:0;
  transition:0.5s ease;
}

.whole_8{
  opacity:1;
  transition:0.5s ease;
}


/*---------ELK RAP SONG? NO SPARKLE---------*/
#elk{
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 500px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skews 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

#elk:hover{
  z-index:555555 !important;
  color: #F15D27;
}

@keyframes skews {
  from,to   { -webkit-transform: rotateX(0deg) rotateY(0deg); }
    25%      { -webkit-transform: rotateX(180deg)rotateY(180deg)rotateZ(70deg)   ;                           }
    50%      { -webkit-transform: rotateY(-120deg) rotateZ(-170deg);            }
    75%      { -webkit-transform:rotateX(180deg) rotateY(180deg) rotateZ(70deg)          }
    100%      { -webkit-transform: rotateY(-120deg) rotateZ(-170deg)  ;           }
  }


.whole9{
  opacity:0;
  transition:0.5s ease;
}

.whole_9{
  opacity:1;
  transition:0.5s ease;
}



/*---------NO SIR AWAY A PAPAYA WAR IS ON ---------*/
#papaya{
  font-size: 50pt;
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 450px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewed 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}
#papaya:hover{
  z-index:2 !important;
  color: #F15D27;
}

@keyframes skewed {
  from,to  {  }
    25%      { -webkit-transform: rotateY(-180deg);                           }
    50%      { -webkit-transform: rotateY(120deg) rotateZ(40deg)           }
    75%      { -webkit-transform: rotateY(160deg) rotateX(-180deg) skewY(120deg) );           }
    100%      { -webkit-transform: rotateY(200deg);           }
  }


.whole10{
  opacity:0;
  transition:0.5s ease;
}

.whole_10{
  opacity:1;
  transition:0.5s ease;
}

.whole_10:hover{
color: #F15D27;
}

#subtract{
   color: white;
  font-size: 50pt;
  z-index: 1;
  position: fixed;
  margin-left: 50px;
  margin-top: -310px;
  padding: 30px
  top: 0px;
    user-select:none;
}

#subtract:hover{
  cursor: pointer}

#add{
  color: white;
  font-size: 50pt;
  float: right;
  margin-right: 50px;
  margin-top: 350px;
  padding: 30px
  top: 0px;
  user-select:none;
}

#add:hover{
  cursor: pointer;
}