body {
	background-color: #555826;
	
}
a{font-family: "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 50pt;

}
p{
	font-family: "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif;
	color: white;
 	font-size: 65pt;
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
}


#wow{
  position: relative;
  animation: skewe 7s infinite;
  margin-left: -40px;
  transform-origin: center;
  animation-direction: alternate;

	opacity: 1;
}

@keyframes skewe {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-180deg);                            }
    33%      { -webkit-transform: rotateY(20deg) rotateZ(-100deg);            }
    68%      { -webkit-transform: rotateY(-180deg)      }
    100%      { -webkit-transform: rotateY(-180deg) rotateX(180deg) ;           }
  }

    /*---------AVID DIVA---------*/

#diva{
  color: white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 150px);
  margin: auto;
    transform-origin: center;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewee 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

@keyframes skewee {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    25%      { -webkit-transform: rotateY(-180deg )rotateZ(10deg); ;                           }
    50%      { -webkit-transform: rotateY(20deg) rotateZ(40deg);            }
    75%      { -webkit-transform: rotateY(-180deg) rotateZ(140deg);  );           }
    100%      { -webkit-transform: rotateX(-180deg);           }
  }




.whole2{
  opacity:0;
  transition:0.5s ease;
}

.whole_2{
  opacity:1;
  transition:0.5s ease;
}


    /*---------DIEFIED---------*/


#deified{
  color: white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 90px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewer 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

@keyframes skewer {
  from,to  {}
    16%      { -webkit-transform: rotateY(120deg)  rotateZ(45deg)                          }
    33%      { -webkit-transform: rotateY(-20deg) rotateX(90deg) scaleX(4)   rotateZ(45deg)          }
    68%      { -webkit-transform: rotateX(270deg) rotateZ(45deg)    }
    100%      { -webkit-transform: rotateY(-140deg) rotateZ(45deg) ;           }
  }



.whole3{
  opacity:0;
  transition:0.5s ease;
}

.whole_3{
  opacity:1;
  transition:0.5s ease;
}

    /*---------GO DOG---------*/


#dog{
  color: white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 90px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewet 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

@keyframes skewet {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    25%      { -webkit-transform: rotateY(180deg) rotateZ(15deg);                           }
    50%      { -webkit-transform: rotateX(70deg) rotateZ(40deg);            }
    75%      { -webkit-transform: rotateY(-180deg)  transform: skew(50deg);           }
    100%      { -webkit-transform: rotateX(45deg) scaleX(2);           }
  }



.whole4{
  opacity:0;
  transition:0.5s ease;
}

.whole_4{
  opacity:1;
  transition:0.5s ease;
}


    /*---------EVIL OLIVE---------*/
#olive{
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 140px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewy 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

@keyframes skewy {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    25%      { -webkit-transform: rotateX(-180deg) rotateZ(170deg); ;                           }
    50%      { -webkit-transform: rotateY(180deg)  scaleX(3);            }
    75%      { -webkit-transform: rotateY(275deg) transform:rotateX(-30deg); ;           }
    100%      { -webkit-transform: rotateY(-180deg) rotateZ(150deg);;           }
  }



.whole5{
  opacity:0;
  transition:0.5s ease;
}

.whole_5{
  opacity:1;
  transition:0.5s ease;
}


    /*---------UFO TOFU---------*/
#ufo{
  color: white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 150px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewu 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

@keyframes skewu {
  from,to  
    25%      { -webkit-transform: rotateY(-180deg);                          }
    50%      { -webkit-transform: rotateZ(160deg) rotateX(40deg);            }
    75%      { -webkit-transform: rotateY(-180deg) scaleX(6) scaleY(5);           }
    100%      { -webkit-transform: rotateY(-180deg) rotate(150deg);           }
  }



.whole6{
  opacity:0;
  transition:0.5s ease;
}

.whole_6{
  opacity:1;
  transition:0.5s ease;
}

/*---------EMILY'S SASSY LIME---------*/
#emily{
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 350px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewo 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

@keyframes skewo {
  from,to  
    25%      { -webkit-transform: rotateY(-180deg) rotateX(245deg));                           }
    50%      { -webkit-transform: rotateY(220deg) rotateZ(-45deg);            }
    75%      { -webkit-transform: rotateY(-700deg)rotateZ(-45deg) rotateX(180deg) ;           }
    100%      { -webkit-transform: rotateY(180deg)rotateZ(-45deg) rotateX(100deg);           }
  }


.whole7{
  opacity:0;
  transition:0.5s ease;
}

.whole_7{
  opacity:1;
  transition:0.5s ease;
}


/*---------NO LEMONS, NO MELON---------*/
#lemons{
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 400px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewp 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

@keyframes skewp {
  from,to  
     25%      { -webkit-transform: rotateY(-180deg) rotateX(245deg));                           }
    50%      { -webkit-transform: rotateY(220deg) rotateZ(45deg);            }          
    75%      { -webkit-transform: rotateX(140deg) rotateZ(-100deg);           }
    100%      { -webkit-transform: rotateY(-180deg) rotateX(-180deg) scaleX(5) rotateZ(120deg)          }
  }


.whole8{
  opacity:0;
  transition:0.5s ease;
}

.whole_8{
  opacity:1;
  transition:0.5s ease;
}


/*---------ELK RAP SONG? NO SPARKLE---------*/
#elk{
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 500px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skews 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

@keyframes skews {
  from,to  { ; }
    25%      { -webkit-transform: rotateY(-180deg) skewY(140deg); ;                           }
    50%      { -webkit-transform: rotateY(20deg) rotateZ(40deg);            }
    75%      { -webkit-transform: rotateY(-180deg) rotateZ(165deg)skewY(140deg);           }
    100%      { -webkit-transform: rotateY(-180deg);           }
  }


.whole9{
  opacity:0;
  transition:0.5s ease;
}

.whole_9{
  opacity:1;
  transition:0.5s ease;
}



/*---------NO SIR AWAY A PAPAYA WAR IS ON ---------*/
#papaya{
  font-size: 50pt;
  color:white;
  position: absolute;
  top: 0px;
  left: calc(50vw - 450px);
  margin: auto;
  text-align: center;
  margin-top: calc(50vh - 70px);
  animation: skewed 7s infinite;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease;

}

@keyframes skewed {
  from,to  {  }
    25%      { -webkit-transform: rotateY(-180deg) scaleX(2);                           }
    50%      { -webkit-transform: rotateY(120deg) rotateZ(40deg) scaleY(2);            }
    75%      { -webkit-transform: rotateY(160deg) rotateX(-180deg) skewY(120deg) );           }
    100%      { -webkit-transform: rotateY(200deg)scaleX(4);           }
  }


.whole10{
  opacity:0;
  transition:0.5s ease;
}

.whole_10{
  opacity:1;
  transition:0.5s ease;
}



#subtract{
   color: white;
  font-size: 50pt;
  z-index: 1;
  position: fixed;
  margin-left: 50px;
  margin-top: -310px;
  padding: 30px
  top: 0px;
    user-select:none;
}

#subtract:hover{
  cursor: pointer}

#add{
  color: white;
  font-size: 50pt;
  float: right;
  margin-right: 50px;
  margin-top: 350px;
  padding: 30px
  top: 0px;
  user-select:none;
}

#add:hover{
  cursor: pointer;
}