/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
}

/* container */

.container {
	position: absolute;
	width: 100%;
	height:auto;
}

/* items */

.item {
	width: 50%;
    height: 250px;
    display: inline-block;
    margin: 0;
    float: left;
    overflow: hidden;
    position: relative;
	float: left; 
}

#button1{
	background-color: #9DE0AD;
}
#button2{
	background-color: #F4DDB4;

	
}
#button2:active::after {
	content: 'WOW';
	color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40pt;
}


#button3{
	background-color: #F15D27 ;
	cursor: help;
	
}
#button4{
	background-color: #FEBE10;
	cursor: crosshair;

	
}


#button5{
  background-color: #21839B;
}

#buttonclick{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    background-color: #C8C8A9 ;
}

#button6{
	background-color: #E5E4E3;

	
}
#button6:active::after {
	content: '( ͡° ͜ʖ ͡°)       |°з°|';
	color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20pt;
}

.circle {
    width:100px;
    height:100px;
    padding: 0;
    margin: 0;
    background-color: #3100BC;
    border-radius: 50px;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button7 .circle {
	background-color: #3100BC;
  
}

.square {
    width:100px;
    height:100px;
    padding: 0;
    margin: 0;
    background-color: #3100BC;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#button7{
  background-color: #E41E26;

}

.circle2 {
    width:100px;
    height:100px;
    padding: 0;
    margin: 0;
    background-color: #E41E26;
    border-radius: 50px;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square2 {
    width:100px;
    height:100px;
    padding: 0;
    margin: 0;
    background-color: #E41E26;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#triangle {
	width: 0;
	height: 0;
	background-color: #E41E26;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid blue;
}

#button8 .circle2 {
	background-color: #E41E26;
    -webkit-transition: all 900ms ease;
                -moz-transition: all 900ms ease;
                -ms-transition: all 900ms ease;
                -o-transition: all 900ms ease;
                transition: all 900ms ease;
}

#button8{
  background-color: #3100BC;
}


#button9{
  background-color: #91CFB4;
}
.square9 {
    width:100px;
    height:100px;
    padding: 0;
    margin: 0;
    background-color: #3100BC;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .square9:active{
 	width:100px;
    height:100px;
    padding: 0;
    margin: 0;
    background-color: #3100BC;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}


@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(0%);
	}
}


#button10{
  background-color: #FF2E06;
}

#bar {
    height: 39px;
    width: 10px;
    left: 100px;
    background-color: #000000;
    position: absolute;
    margin-top: 110px;
    cursor: pointer;
    transition: width 1s;
  }

  #bar.clicked {
      width: 200px;
    }


#button11{
  background-color: #0BA8E1;
}
.square11 {
    width:30px;
    height:30px;
    padding: 0;
    margin: 0;
    background-color: #3100BC;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
 }


.square11:hover{
  	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}


@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}



#button12{
  background-color: #9EB841;
}
.square12 {
    width:30px;
    height:30px;
    padding: 0;
    margin: 0;
    background-color: #FEBE10;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
 }


.square12:hover{
  	animation-name: bounce;
  transform-origin: center bottom;

	animation-duration: 100ms;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to { 
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

#button13{
	background-color: #FF9999;

	
}
#button13:active {
	content: 'byee';
	color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40pt;
}

#button14{
	background-color: #F9D946;
}
	
#button14::after {
	content: 'WHO DAT BOI?';
	color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40pt;
}


#button14:hover::after {
	content: 'WHO HIM IS?';
	color: white;
}


#button15 {
    background-color: #D78A28;
}


#yess {
	cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    max-width: 80%;
    max-height: 400px;
    margin: 0;
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
    word-break: break-all;
    color:white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

#button16 {
    background-color: green;
}

#button17{
  background-color: #43ADA8;
}

#bar17 {
    height: 39px;
    width: 10px;
    left: 100px;
    background-color: #000000;
    position: absolute;
    margin-top: 110px;
    cursor: pointer;
    transition: width 1s;
  }

  #bar17.clicked {
      width: 200px;
      transform: translate(100px);
      animation: ease;
    }

#button18{
  background-color: #0BA8E1;
}

.square18 {
    width:30px;
    height:30px;
    padding: 0;
    margin: 0;
    background-color: #3100BC;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
 }
 .square18.clicked {
    width:300px;
    height:300px;
    position: absolute;
   transform: translate(-50%, -50%);
   transition: 2s;
 }

#button19 {
    background-color: #8FCEDB;
    cursor:zoom-in;
}

#button20 {
    background-color: #E8495F;
    cursor:zoom-out;
}


#button21{
  background-color: #F7DB4E;
}

.square21 {
    content: "too thin"
    width:30px;
    height:30px;
    padding: 0;
    margin: 0;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40pt;
    font-weight: bold;
    border: none;
    color: white;

    /*transform: translate(-50%, -50%);*/
 }
 .square21.clicked {
    position: absolute;
    transform: scale(2, 0.5);
   transition: 1s;
 }


#button22{
  background-color: #F26B37;
}

.square22 {
    content: 'top heavy';
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20pt;

    /*transform: translate(-50%, -50%);*/
 }
 .square22.clicked {
    position: absolute;
    transform: rotate(0.5turn);
   transition: 1s;
 }


#button23{
  background-color: blue;
}

.square23 {
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    cursor: crosshair;

    /*transform: translate(-50%, -50%);*/
 }

 .square23:active { 
    background-color: yellow;
}


#button24{
  background-color: yellow;
}

.square24 {
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    cursor: crosshair;

    /*transform: translate(-50%, -50%);*/
 }

 .square24:active { 
    background-color: blue;
}

#button25{
  background-color: orange;
}

.square25 {
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    cursor: crosshair;

    /*transform: translate(-50%, -50%);*/
 }

 .square25:active { 
    background-color: green;
     transform: perspective( 600px ) rotateY( 180deg );
      transition: 1s;
}


#button26{
  background-color: green;
}

.square26 {
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    cursor: crosshair;

    /*transform: translate(-50%, -50%);*/
 }

 .square26:active { 
    background-color: orange;
     transform: perspective( 1200px ) rotateX( 180deg );
      transition: 1s;
}

#button27{
  background-color: #CD527A;
}

.square27 {
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 30pt;
    cursor: zoom-in;

    /*transform: translate(-50%, -50%);*/
 }

 .square27:active { 
    transform: scale(2.5);
    transform: perspective(1200px) translateZ(800px);
      transition: 1s;
      text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 30pt;
    cursor: zoom-in;
}

#button28{
  background-color: #43ADA8;
}

#bar28 {
    height: 39px;
    width: 10px;
    left: 100px;
    background-color: #F8D422;
    position: absolute;
    margin-top: 110px;
    cursor: pointer;
    transition: width 1s;
  }

  #bar28.clicked {
    border-radius: 1000px;
    width:50px;
    height:50px;
     transform: translate(100px) rotate(90deg);
    animation:ease;
    animation-name: rotateOut;
    transform-origin: center bottom;

    animation-duration: 100ms;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}


#button29{
    background-color: #F4DDB4;

    
}

#button29.clicked{
    background-color: #C7C8A9;

    
}

.ON{
    color: #C7C8A9;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40pt;

}

.OFF{
    color:#F4DDB4;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40pt;

}

p.__::selection {
    color: #5CFFD0;
   background: #ffb7b7;
}

p.__ {
    color: #5CFFD0;
}



#button30{
    background-color: #DCEBC2;
}

#button30.clicked{
    background-color: #5A4F50;
 
}

#button31{
    background-color: #5CFFD0;
}

#button32{
  background-color: #0BA8E1;
}

.square32 {
    width:30px;
    height:30px;
    padding: 0;
    margin: 0;
    background-color: #3100BC;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
 }

.square32.clicked {
    width:500px;
    height:500px;
    top: -20%;
    left: 17%;
     transform: translate(100px) rotate(90deg);
    animation:ease;
     animation-name: rotateIn;

    animation-duration: 40ms;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

#button33{
  background-color: #E8495F;
} 


#button33:hover {
    transform: rotate(90deg) scaleX(60);
    opacity: 1; 
} 

#button34{
  background-color: #2A01A7;
} 

#button34:hover {
    background: pink;
    opacity: 1;
    animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
  opacity: 1;
}

@keyframes skew {
  0% {
    transform: skewX(80deg);
  }
  100% {
    transform: skewX(-80deg);
  }
}

#button35{
  background-color: #83AF9A;
} 

#button35:active {
    background: pink;
    opacity: 1;
    animation: skewe 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
  opacity: 1;
}

@keyframes skewe {
  0% {
    transform: skewY(100deg);
  }
  100% {
    transform: skewY(-100deg);
  }
}

#button36{
  background-color: #F8D422;
} 

#button36:active {
    background: pink;
     animation: skewed 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
  opacity: 1;
}

@keyframes skewed {
  0% {
    transform: skew(20deg);
  }
  100% {
  transform: rotate(164deg) scale(0.968) skew(31deg) translate(-122px);

  }
}


    
}



}







/*#button13.item: : after {
 animation-name: zoomOutUp;
 animation-duration: 100ms;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
*/

/* .square11:active{
  	animation-name: tada;
	-webkit-animation-name: tada;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
*/


/* example buttons */


/* example buttons */

/*#button-2::after {
	content: 'this is added after the content inside the button';
	color: white;
}
*/

